.songWrapper {
  max-width: 250px;
  margin: 1.5rem auto;
}

.songWrapper p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songImage {
  width: 250px;
  height: 250px;
}
.songImageAndIconWrapper {
  position: relative;
}
.songPlayButtonIcon:hover .songPlayButtonIcon {
  opacity: 1;
}
.songPlayButtonIcon {
  position: absolute;
  z-index: 1;
  font-size: 100px;
  color: #fff;
  transition: all 0.3s ease 0s;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.songPlayButtonIcon:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
