/* Unavailable Bulma features in react-bulma-components */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.is-flex {
  display: flex !important;
}

.is-flex-wrap-wrap {
  flex-wrap: wrap !important;
}

.container {
  width: 100% !important; /* fixes broken containers in flexbox root div */
}

/* Workaround for swiper pagination ignoring margin */
.swiper-slide > [class*='songWrapper'] > :last-child {
  margin-bottom: 3rem;
}
