/* Unavailable Bulma features in react-bulma-components */

.mb-0 {
  margin-bottom: 0 !important;
}

.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.is-flex {
  display: flex !important;
}

.is-flex-wrap-wrap {
  flex-wrap: wrap !important;
}

/* Workaround for swiper pagination ignoring margin */

.swiper-slide > [class*='songWrapper'] > :last-child {
  margin-bottom: 3rem;
}
.swiper-container {
  width: 1024px;
}
@media screen and (min-width: 320px) {
  .swiper-container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
@media screen and (min-width: 961px) {
  .swiper-container {
    width: 961px;
  }
}
@media screen and (min-width: 1025px) {
  .swiper-container {
    width: 1300px;
  }
}
